

<h1>My First Application</h1>

<a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a> |
<a routerLinkActive="active" routerLink="/counter">Counter</a> |
<a routerLinkActive="active" routerLink="/conditions">Conditions</a> |
<a routerLinkActive="active" routerLink="/signals">Signals</a> |
<a routerLinkActive="active" routerLink="/effects">Effects</a> |
<a routerLinkActive="active" routerLink="/bindings">Bindings</a> |
<a routerLinkActive="active" routerLink="/todolist">ToDoList</a> |
<a routerLinkActive="active" routerLink="/directives">Directives</a> |
<a routerLinkActive="active" routerLink="/routing">Routing</a>

<br>
<br>