<h1>Directives in Amgular</h1>


<h2 [style.backgroundColor]="bgColor">Hello</h2>

<h1 *ngIf="show">Heading Tag</h1>

<h1>*ngFor Directive</h1>

<ul>
    <li *ngFor="let student of students">
        {{student}}
    </li>
</ul>

<h2>Student Data</h2>
<div>
    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let studentData of studentsData">
                <td>{{ studentData.id }}</td>
                <td>{{ studentData.name }}</td>
                <td>{{ studentData.age }}</td>
                <td>{{ studentData.email }}</td>
            </tr>
        </tbody>
    </table>
</div>